<a href="https://colab.research.google.com/github/LammyG/LammyG/blob/main/Lammy_metro_data_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving metro_data.csv to metro_data.csv

In [ ]:
import numpy as np
import pandas as pd
import io

In [ ]:
metro_data = pd.read_csv('metro_data.csv')

In [ ]:
metro_data.head()

   land_area  percent_city  percent_senior  ...  income  region  crime_rate
0       1384          78.1            12.3  ...   72100       1       75.55
1       3719          43.9             9.4  ...   54542       2       56.03
2       3553          37.4            10.7  ...   33216       1       41.32
3       3916          29.9             8.8  ...   32906       2       67.38
4       2480          31.5            10.5  ...   26573       4       80.19

[5 rows x 10 columns]

In [ ]:
metro_data.describe()

          land_area  percent_city  ...     region  crime_rate
count     99.000000     99.000000  ...  99.000000   99.000000
mean    2615.727273     42.518182  ...   2.494949   55.643030
std     3045.826210     17.348277  ...   1.013921   13.470943
min       47.000000     13.400000  ...   1.000000   23.320000
25%     1408.000000     30.100000  ...   2.000000   46.115000
50%     1951.000000     39.500000  ...   3.000000   56.060000
75%     2890.500000     52.600000  ...   3.000000   63.860000
max    27293.000000    100.000000  ...   4.000000   85.620000

[8 rows x 10 columns]

In [ ]:
 metro_data.mean()

land_area         2615.727273
percent_city        42.518182
percent_senior       9.781818
physicians        1828.333333
hospital_beds     6345.868687
graduates           54.463636
work_force         449.366667
income            6762.505051
region               2.494949
crime_rate          55.643030
dtype: float64

In [ ]:
metro_data.mode()

    land_area  percent_city  percent_senior  ...  income  region  crime_rate
0       813.0          13.4            10.5  ...     769     3.0       70.66
1      1758.0          19.5             NaN  ...    1148     NaN         NaN
2         NaN          19.9             NaN  ...    1337     NaN         NaN
3         NaN          28.4             NaN  ...    1354     NaN         NaN
4         NaN          31.5             NaN  ...    1386     NaN         NaN
..        ...           ...             ...  ...     ...     ...         ...
94        NaN           NaN             NaN  ...   26573     NaN         NaN
95        NaN           NaN             NaN  ...   32906     NaN         NaN
96        NaN           NaN             NaN  ...   33216     NaN         NaN
97        NaN           NaN             NaN  ...   54542     NaN         NaN
98        NaN           NaN             NaN  ...   72100     NaN         NaN

[99 rows x 10 columns]

In [ ]:
metro_data.isnull()

    land_area  percent_city  percent_senior  ...  income  region  crime_rate
0       False         False           False  ...   False   False       False
1       False         False           False  ...   False   False       False
2       False         False           False  ...   False   False       False
3       False         False           False  ...   False   False       False
4       False         False           False  ...   False   False       False
..        ...           ...             ...  ...     ...     ...         ...
94      False         False           False  ...   False   False       False
95      False         False           False  ...   False   False       False
96      False         False           False  ...   False   False       False
97      False         False           False  ...   False   False       False
98      False         False           False  ...   False   False       False

[99 rows x 10 columns]

In [ ]:

metro_data.isnull().sum()

land_area         0
percent_city      0
percent_senior    0
physicians        0
hospital_beds     0
graduates         0
work_force        0
income            0
region            0
crime_rate        0
dtype: int64

In [ ]:
metro_data.notnull()

    land_area  percent_city  percent_senior  ...  income  region  crime_rate
0        True          True            True  ...    True    True        True
1        True          True            True  ...    True    True        True
2        True          True            True  ...    True    True        True
3        True          True            True  ...    True    True        True
4        True          True            True  ...    True    True        True
..        ...           ...             ...  ...     ...     ...         ...
94       True          True            True  ...    True    True        True
95       True          True            True  ...    True    True        True
96       True          True            True  ...    True    True        True
97       True          True            True  ...    True    True        True
98       True          True            True  ...    True    True        True

[99 rows x 10 columns]

In [ ]:
metro_data.groupby(['income']).count()

        land_area  percent_city  percent_senior  ...  work_force  region  crime_rate
income                                           ...
769             1             1               1  ...           1       1           1
1148            1             1               1  ...           1       1           1
1337            1             1               1  ...           1       1           1
1354            1             1               1  ...           1       1           1
1386            1             1               1  ...           1       1           1
...           ...           ...             ...  ...         ...     ...         ...
26573           1             1               1  ...           1       1           1
32906           1             1               1  ...           1       1           1
33216           1             1               1  ...           1       1           1
54542           1             1               1  ...           1       1           1
72100           1             1               1  ...           1       1           1

[99 rows x 9 columns]

In [ ]:
metro_data.count()

land_area         99
percent_city      99
percent_senior    99
physicians        99
hospital_beds     99
graduates         99
work_force        99
income            99
region            99
crime_rate        99
dtype: int64

In [ ]:
metro_df1 = metro_data.iloc[1:50].reset_index(drop=True)
metro_df2 = metro_data.iloc[1:50].reset_index(drop=True)

In [ ]:
metro_df1

    land_area  percent_city  percent_senior  ...  income  region  crime_rate
0        3719          43.9             9.4  ...   54542       2       56.03
1        3553          37.4            10.7  ...   33216       1       41.32
2        3916          29.9             8.8  ...   32906       2       67.38
3        2480          31.5            10.5  ...   26573       4       80.19
4        2815          23.1             6.7  ...   25663       3       58.48
5        8360          46.3             8.2  ...   18350       3       72.25
6        6794          60.1             6.3  ...   18221       3       64.88
7        3049          19.5            12.1  ...   15826       1       30.51
8        4647          31.5             9.2  ...   14542       2       55.30
9        1008          16.6            10.3  ...   15953       1       54.16
10       1519          31.8            10.5  ...   14684       2       52.73
11       4326          23.6             7.3  ...   12107       3       58.12
12        782          28.4             7.8  ...   12591       4       63.20
13       4226          38.1             9.8  ...   10918       4       64.05
14       1456          46.7            10.4  ...   10104       2       44.64
15       2045          37.2            21.4  ...    7989       3       64.68
16       2149          29.8            10.6  ...    9037       2       49.69
17      27293          25.3            12.3  ...    7399       4       76.03
18       3341          35.8            10.1  ...    9106       2       63.04
19       9155          53.8            11.1  ...    7766       4       85.62
20       3072          68.0             9.3  ...    7736       2       53.65
21       1967          51.1             8.8  ...    7038       3       61.15
22       2460          49.6             8.4  ...    6658       2       57.59
23       2966          26.9            10.3  ...    6966       1       56.55
24       3434          28.9             8.3  ...    5909       4       77.94
25       1392          37.2             9.8  ...    5705       3       51.69
26       3358          35.1            11.3  ...    4941       3       53.15
27       2624          30.4            12.2  ...    5094       1       38.75
28       2187          47.0            10.2  ...    5142       2       59.48
29       3214          47.7             9.4  ...    4924       3       45.14
30       3491          48.5             9.7  ...    4798       3       57.88
31       4080          59.6             9.9  ...    4600       3       43.90
32        596         100.0             6.0  ...    5181       4       64.98
33       3199          80.6             8.7  ...    4127       3       61.97
34        903          37.3             9.6  ...    4102       2       52.53
35       2419          27.8             9.9  ...    3860       1       47.65
36        938          48.1             7.4  ...    4177       2       54.51
37       1951          28.4            14.5  ...    3667       1       23.64
38       1490          33.1            11.9  ...    4144       1       30.59
39       5677          55.8            10.5  ...    4035       3       52.70
40       1525          55.7             8.3  ...    3777       3       62.09
41       2528          19.2            10.2  ...    3489       3       74.94
42        312          19.5             7.5  ...    4352       1       48.99
43       1537          63.8             8.7  ...    3725       2       55.54
44       1420          32.6             9.5  ...    3553       2       46.26
45         47          41.9            11.9  ...    3915       1       51.70
46       2115          19.9             9.1  ...    2962       3       58.33
47       1182          32.4             7.4  ...    3627       2       68.48
48       1165          14.5             8.6  ...    3724       3       60.77

[49 rows x 10 columns]

In [ ]:
metro_df2

    land_area  percent_city  percent_senior  ...  income  region  crime_rate
0        3719          43.9             9.4  ...   54542       2       56.03
1        3553          37.4            10.7  ...   33216       1       41.32
2        3916          29.9             8.8  ...   32906       2       67.38
3        2480          31.5            10.5  ...   26573       4       80.19
4        2815          23.1             6.7  ...   25663       3       58.48
5        8360          46.3             8.2  ...   18350       3       72.25
6        6794          60.1             6.3  ...   18221       3       64.88
7        3049          19.5            12.1  ...   15826       1       30.51
8        4647          31.5             9.2  ...   14542       2       55.30
9        1008          16.6            10.3  ...   15953       1       54.16
10       1519          31.8            10.5  ...   14684       2       52.73
11       4326          23.6             7.3  ...   12107       3       58.12
12        782          28.4             7.8  ...   12591       4       63.20
13       4226          38.1             9.8  ...   10918       4       64.05
14       1456          46.7            10.4  ...   10104       2       44.64
15       2045          37.2            21.4  ...    7989       3       64.68
16       2149          29.8            10.6  ...    9037       2       49.69
17      27293          25.3            12.3  ...    7399       4       76.03
18       3341          35.8            10.1  ...    9106       2       63.04
19       9155          53.8            11.1  ...    7766       4       85.62
20       3072          68.0             9.3  ...    7736       2       53.65
21       1967          51.1             8.8  ...    7038       3       61.15
22       2460          49.6             8.4  ...    6658       2       57.59
23       2966          26.9            10.3  ...    6966       1       56.55
24       3434          28.9             8.3  ...    5909       4       77.94
25       1392          37.2             9.8  ...    5705       3       51.69
26       3358          35.1            11.3  ...    4941       3       53.15
27       2624          30.4            12.2  ...    5094       1       38.75
28       2187          47.0            10.2  ...    5142       2       59.48
29       3214          47.7             9.4  ...    4924       3       45.14
30       3491          48.5             9.7  ...    4798       3       57.88
31       4080          59.6             9.9  ...    4600       3       43.90
32        596         100.0             6.0  ...    5181       4       64.98
33       3199          80.6             8.7  ...    4127       3       61.97
34        903          37.3             9.6  ...    4102       2       52.53
35       2419          27.8             9.9  ...    3860       1       47.65
36        938          48.1             7.4  ...    4177       2       54.51
37       1951          28.4            14.5  ...    3667       1       23.64
38       1490          33.1            11.9  ...    4144       1       30.59
39       5677          55.8            10.5  ...    4035       3       52.70
40       1525          55.7             8.3  ...    3777       3       62.09
41       2528          19.2            10.2  ...    3489       3       74.94
42        312          19.5             7.5  ...    4352       1       48.99
43       1537          63.8             8.7  ...    3725       2       55.54
44       1420          32.6             9.5  ...    3553       2       46.26
45         47          41.9            11.9  ...    3915       1       51.70
46       2115          19.9             9.1  ...    2962       3       58.33
47       1182          32.4             7.4  ...    3627       2       68.48
48       1165          14.5             8.6  ...    3724       3       60.77

[49 rows x 10 columns]

In [ ]:
pd.merge(metro_df1, metro_df2, how="inner")

    land_area  percent_city  percent_senior  ...  income  region  crime_rate
0        3719          43.9             9.4  ...   54542       2       56.03
1        3553          37.4            10.7  ...   33216       1       41.32
2        3916          29.9             8.8  ...   32906       2       67.38
3        2480          31.5            10.5  ...   26573       4       80.19
4        2815          23.1             6.7  ...   25663       3       58.48
5        8360          46.3             8.2  ...   18350       3       72.25
6        6794          60.1             6.3  ...   18221       3       64.88
7        3049          19.5            12.1  ...   15826       1       30.51
8        4647          31.5             9.2  ...   14542       2       55.30
9        1008          16.6            10.3  ...   15953       1       54.16
10       1519          31.8            10.5  ...   14684       2       52.73
11       4326          23.6             7.3  ...   12107       3       58.12
12        782          28.4             7.8  ...   12591       4       63.20
13       4226          38.1             9.8  ...   10918       4       64.05
14       1456          46.7            10.4  ...   10104       2       44.64
15       2045          37.2            21.4  ...    7989       3       64.68
16       2149          29.8            10.6  ...    9037       2       49.69
17      27293          25.3            12.3  ...    7399       4       76.03
18       3341          35.8            10.1  ...    9106       2       63.04
19       9155          53.8            11.1  ...    7766       4       85.62
20       3072          68.0             9.3  ...    7736       2       53.65
21       1967          51.1             8.8  ...    7038       3       61.15
22       2460          49.6             8.4  ...    6658       2       57.59
23       2966          26.9            10.3  ...    6966       1       56.55
24       3434          28.9             8.3  ...    5909       4       77.94
25       1392          37.2             9.8  ...    5705       3       51.69
26       3358          35.1            11.3  ...    4941       3       53.15
27       2624          30.4            12.2  ...    5094       1       38.75
28       2187          47.0            10.2  ...    5142       2       59.48
29       3214          47.7             9.4  ...    4924       3       45.14
30       3491          48.5             9.7  ...    4798       3       57.88
31       4080          59.6             9.9  ...    4600       3       43.90
32        596         100.0             6.0  ...    5181       4       64.98
33       3199          80.6             8.7  ...    4127       3       61.97
34        903          37.3             9.6  ...    4102       2       52.53
35       2419          27.8             9.9  ...    3860       1       47.65
36        938          48.1             7.4  ...    4177       2       54.51
37       1951          28.4            14.5  ...    3667       1       23.64
38       1490          33.1            11.9  ...    4144       1       30.59
39       5677          55.8            10.5  ...    4035       3       52.70
40       1525          55.7             8.3  ...    3777       3       62.09
41       2528          19.2            10.2  ...    3489       3       74.94
42        312          19.5             7.5  ...    4352       1       48.99
43       1537          63.8             8.7  ...    3725       2       55.54
44       1420          32.6             9.5  ...    3553       2       46.26
45         47          41.9            11.9  ...    3915       1       51.70
46       2115          19.9             9.1  ...    2962       3       58.33
47       1182          32.4             7.4  ...    3627       2       68.48
48       1165          14.5             8.6  ...    3724       3       60.77

[49 rows x 10 columns]

In [ ]:
pd.merge(metro_df1, metro_df2,how="outer")

    land_area  percent_city  percent_senior  ...  income  region  crime_rate
0        3719          43.9             9.4  ...   54542       2       56.03
1        3553          37.4            10.7  ...   33216       1       41.32
2        3916          29.9             8.8  ...   32906       2       67.38
3        2480          31.5            10.5  ...   26573       4       80.19
4        2815          23.1             6.7  ...   25663       3       58.48
5        8360          46.3             8.2  ...   18350       3       72.25
6        6794          60.1             6.3  ...   18221       3       64.88
7        3049          19.5            12.1  ...   15826       1       30.51
8        4647          31.5             9.2  ...   14542       2       55.30
9        1008          16.6            10.3  ...   15953       1       54.16
10       1519          31.8            10.5  ...   14684       2       52.73
11       4326          23.6             7.3  ...   12107       3       58.12
12        782          28.4             7.8  ...   12591       4       63.20
13       4226          38.1             9.8  ...   10918       4       64.05
14       1456          46.7            10.4  ...   10104       2       44.64
15       2045          37.2            21.4  ...    7989       3       64.68
16       2149          29.8            10.6  ...    9037       2       49.69
17      27293          25.3            12.3  ...    7399       4       76.03
18       3341          35.8            10.1  ...    9106       2       63.04
19       9155          53.8            11.1  ...    7766       4       85.62
20       3072          68.0             9.3  ...    7736       2       53.65
21       1967          51.1             8.8  ...    7038       3       61.15
22       2460          49.6             8.4  ...    6658       2       57.59
23       2966          26.9            10.3  ...    6966       1       56.55
24       3434          28.9             8.3  ...    5909       4       77.94
25       1392          37.2             9.8  ...    5705       3       51.69
26       3358          35.1            11.3  ...    4941       3       53.15
27       2624          30.4            12.2  ...    5094       1       38.75
28       2187          47.0            10.2  ...    5142       2       59.48
29       3214          47.7             9.4  ...    4924       3       45.14
30       3491          48.5             9.7  ...    4798       3       57.88
31       4080          59.6             9.9  ...    4600       3       43.90
32        596         100.0             6.0  ...    5181       4       64.98
33       3199          80.6             8.7  ...    4127       3       61.97
34        903          37.3             9.6  ...    4102       2       52.53
35       2419          27.8             9.9  ...    3860       1       47.65
36        938          48.1             7.4  ...    4177       2       54.51
37       1951          28.4            14.5  ...    3667       1       23.64
38       1490          33.1            11.9  ...    4144       1       30.59
39       5677          55.8            10.5  ...    4035       3       52.70
40       1525          55.7             8.3  ...    3777       3       62.09
41       2528          19.2            10.2  ...    3489       3       74.94
42        312          19.5             7.5  ...    4352       1       48.99
43       1537          63.8             8.7  ...    3725       2       55.54
44       1420          32.6             9.5  ...    3553       2       46.26
45         47          41.9            11.9  ...    3915       1       51.70
46       2115          19.9             9.1  ...    2962       3       58.33
47       1182          32.4             7.4  ...    3627       2       68.48
48       1165          14.5             8.6  ...    3724       3       60.77

[49 rows x 10 columns]

In [ ]:
pd.merge(metro_df1, metro_df2, how="left")

    land_area  percent_city  percent_senior  ...  income  region  crime_rate
0        3719          43.9             9.4  ...   54542       2       56.03
1        3553          37.4            10.7  ...   33216       1       41.32
2        3916          29.9             8.8  ...   32906       2       67.38
3        2480          31.5            10.5  ...   26573       4       80.19
4        2815          23.1             6.7  ...   25663       3       58.48
5        8360          46.3             8.2  ...   18350       3       72.25
6        6794          60.1             6.3  ...   18221       3       64.88
7        3049          19.5            12.1  ...   15826       1       30.51
8        4647          31.5             9.2  ...   14542       2       55.30
9        1008          16.6            10.3  ...   15953       1       54.16
10       1519          31.8            10.5  ...   14684       2       52.73
11       4326          23.6             7.3  ...   12107       3       58.12
12        782          28.4             7.8  ...   12591       4       63.20
13       4226          38.1             9.8  ...   10918       4       64.05
14       1456          46.7            10.4  ...   10104       2       44.64
15       2045          37.2            21.4  ...    7989       3       64.68
16       2149          29.8            10.6  ...    9037       2       49.69
17      27293          25.3            12.3  ...    7399       4       76.03
18       3341          35.8            10.1  ...    9106       2       63.04
19       9155          53.8            11.1  ...    7766       4       85.62
20       3072          68.0             9.3  ...    7736       2       53.65
21       1967          51.1             8.8  ...    7038       3       61.15
22       2460          49.6             8.4  ...    6658       2       57.59
23       2966          26.9            10.3  ...    6966       1       56.55
24       3434          28.9             8.3  ...    5909       4       77.94
25       1392          37.2             9.8  ...    5705       3       51.69
26       3358          35.1            11.3  ...    4941       3       53.15
27       2624          30.4            12.2  ...    5094       1       38.75
28       2187          47.0            10.2  ...    5142       2       59.48
29       3214          47.7             9.4  ...    4924       3       45.14
30       3491          48.5             9.7  ...    4798       3       57.88
31       4080          59.6             9.9  ...    4600       3       43.90
32        596         100.0             6.0  ...    5181       4       64.98
33       3199          80.6             8.7  ...    4127       3       61.97
34        903          37.3             9.6  ...    4102       2       52.53
35       2419          27.8             9.9  ...    3860       1       47.65
36        938          48.1             7.4  ...    4177       2       54.51
37       1951          28.4            14.5  ...    3667       1       23.64
38       1490          33.1            11.9  ...    4144       1       30.59
39       5677          55.8            10.5  ...    4035       3       52.70
40       1525          55.7             8.3  ...    3777       3       62.09
41       2528          19.2            10.2  ...    3489       3       74.94
42        312          19.5             7.5  ...    4352       1       48.99
43       1537          63.8             8.7  ...    3725       2       55.54
44       1420          32.6             9.5  ...    3553       2       46.26
45         47          41.9            11.9  ...    3915       1       51.70
46       2115          19.9             9.1  ...    2962       3       58.33
47       1182          32.4             7.4  ...    3627       2       68.48
48       1165          14.5             8.6  ...    3724       3       60.77

[49 rows x 10 columns]